html{
    box-sizing: border-box;    
}

*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor{
    background-color: #EBEBEB;
} 

.navbar{
    background-color: #FFF159;
}

.ul-nav{
    color: white;
}

.menu{    
    background-color: #333;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    color: white;
    background-color:#3483FA;
}

.lav{
    width: 10rem;
}

.card{    
    background-color: #FFFFFF;
    box-shadow:0px 5px 15px 0px rgb(202, 199, 199);
    transition: 0.4s;
}

.card:hover{    
    transform: scale(1.1);
    box-shadow:0px 5px 15px 0px gray;
}

.card p:nth-child(2),
 small{
    color: #00a650;
}