html{
    box-sizing: border-box;    
}

*, *:before, *:after {
    box-sizing: inherit;
}
.navbar{
    background-color: #FFF159;
}

.ul-nav{
    color: white;
}

.menu{    
    background-color: #333;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    color: white;
    background-color:#3483FA;
}

.img-fluid{
    width: 20rem;
    height: 15rem;    
    background-color: #c0d4f1;
    transition: 0.9s;
}

.img-fluid:hover{
    background-color: #6083b7;
    transform: scale(1.1);
}