/** Globales **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root{
    --primario:rgb(181, 218, 179);
    --secundario:#D6EC8Ee9;    

    --fuentePrincipal: 'Roboto', sans-serif;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    font-family: var(--fuentePrincipal);    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: var(--primario);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
} 

/** Header **/

header {
    text-align: center;
}

h1{
    color: #245a4b;
    text-decoration:underline;
    font-size: 30px;
}

h2{
    font-size: 27px;  
    color: #515760;
}

.underline {
    text-decoration: underline;
    display: inline-block;
  }  

  /** Main **/

#container_img{
    margin: 0 auto;  
    width: 35%;        
    background-color: var(--secundario); 
    padding: 15px; 
    text-align: center; 
    box-shadow: 10px 10px 10px grey;
    border-radius: 2rem;
}

img{
    width: 100%;
    border-radius: 2rem;
    transition: 0.6s;
}

img:hover{
    transform: scale(115%);
}

.info {
    margin-top: 3rem;    
    font-size: 20px;
}

a{
    text-decoration: none;
}

/** Formularios **/

.formularios{        
    font-size: 20px;
}

input{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    background: none;
    border: none ;
    border-bottom: 1px solid black;
}

textarea{
    box-shadow: 2px 2px gray
}

input[type="submit"],
input[type="reset"]{
    margin-top: 2rem;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secundario);
    transition: 0.5s; 
    box-shadow: 3px 3px gray;   
}

input[type="submit"]:hover,
input[type="reset"]:hover{
    background-color:var(--primario);
    font-size:17px;
    border-radius: 10px;
}

/** Media Query para el Responsive  **/

@media (max-width: 900px) {
    #container_img{
        width: 75%;
    }    
    .container{
        overflow-x: hidden;
        width: 100%; 
        margin: 0 auto;       
        padding: 2rem;
    }    
}

@media (max-width: 320px) {
    .formularios input{
        width: 100%;
    }

    textarea{
        width: 90%;
    }
    
}





