:root{
    --fondo: #222222;
    --texto: #547B8C;
    --Primario:#FBFFDC;
    --Secundario:#FFAC4F;

    --fuentePrincipal: 'Barriecito', cursive;   
    }

/** Globales **/

html {
     box-sizing: border-box;
     font-size: 62.5%;      
 }
    
 *, *:before, *:after {
    box-sizing: inherit;
}

body {    
    background-color: var(--fondo);    
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
}
a {
    text-decoration: none;    
}

/** Header **/

.marca{
    color: var(--texto);
}

.navbar-nav a{
    color: var(--texto) !important;
    letter-spacing: 1px;
}



.navbar-nav .nav-link:hover{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);     
}

.contenedor{
    background-color: var(--Primario);       
}
.video-carousel-container {
    position: relative;
    margin-top: 9%; 
    z-index: 0; 
    margin-bottom: 15%;   
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;   
}

.carousel-container {
    position: relative;
    z-index: 1;
}

.carousel-item {      
    height: 90vh;       
}

.carousel-caption {    
    bottom: 150px;
    z-index: 2;    
}

.carousel-caption h5 {    
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 25px;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);    
}

.carousel-caption p {        
    width: 60%;
    margin: auto;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 2px;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);    
}

.carousel-caption a {    
    text-transform: uppercase;
    text-decoration: none;
    background: var(--texto);
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);       
}

.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 75%;
    top: 0;    
    left: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));     
    z-index: 1;
}

.menu{    
    background-color: #333;
}

.dropdown-item{
    font-size:x-large;          
}

.dropdown-item:hover{
    color: #333 !important;
    background-color:#98EECC;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);
}

.logo{
    width: 10%; 
    height: 10%; 
    border: 2px solid #98EECC;
    border-radius: 50%; 
    overflow: hidden; 
    display: inline-block;
    margin-left: 6%;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.5);         
}

.logo:hover{
    box-shadow: 6px 2px 6px rgba(0, 0, 0, 0.5);
}

.skate-box{
    width: 100%; 
    overflow: visible; 
    position: relative;
}

.logo-skate{
    width: 15%; 
    height: auto;
    position: absolute;
    top: 100%; 
    transform: translateY(-50%) translateX(-100%);     
    margin-top: 3%;    
    animation:slide-right 0.7s linear both             
}
@keyframes 
slide-right{
    0% { transform: translateY(-35%) translateX(-100%);}
    50%{transform: translateY(-65%) translateX(-50%);}
    100% { transform: translateY(-50%); } 
}



.img-container p{
    font-size: 45px;
    color: #fff;    
}

.btn{
    width: 15vh;
    height: 7vh;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--texto);
    padding: 5px 20px;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1140px) {
     .logo-skate{
       display: none;
    } 
    .logo{
        width: 12%;
        margin-right: 8%;       
    }   
    .navbar-nav{
        text-align: center;        
    }         
    .carousel-caption a{
        padding: 10px 15px;    
    } 
    
}

@media (max-width: 900px) {
    .dropdown-menu{
        text-align: center;
    }      
    .carousel-container{
        bottom: 25vh;
    }
    .carousel-item{
        bottom: 25vh;
    }    
    .carousel-caption a{
        padding: 10px 15px;
        font-size: medium;
    }      
}

@media only screen and (max-width: 768px){
    .navbar-nav{
        text-align: center;
    }
    .navbar .appbtn {
        display: none;
    }
    .carousel-container{
        bottom: 20vh;
    }
    .carousel-item{
        bottom: 15vh;
    }
    .carousel-caption h5{
        font-size: larger;
    }    
    .carousel-caption a{
        padding: 10px 15px;
        font-size: medium;
    }       
}

@media only screen and (max-width: 480px) {
    .marca{
        font-size: medium; 
        margin-right: 5%;       
    }
    .navbar-nav a{
        font-size: medium;
    }
    .logo{
        width: 20%;
        height: 20%;
    }  
    .navbar-nav{
        text-align: center;
    }
    .navbar .appbtn {
        display: none;
    }
    .carousel-container{
        bottom: 30vh;
    }
    .carousel-item{
        bottom: 21vh;
    }  
    .carousel-caption h5{
        font-size: large;
    } 
    .carousel-caption p:nth-child(2){
       display: none ;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: x-small;
    }     
}

@media (max-width:360px) {
    .carousel-container{
        bottom: 25vh;
    }
    .carousel-item{
        bottom: 15vh;
    }  
    .carousel-caption h5{
        font-size: medium;
    } 
    .carousel-caption a{        
        font-size: 40%;
        margin-top: 5px;
    } 
    
}




    
    


